*{margin:0;
box-sizing: border-box;}

.container{
    margin:0 10px;
    font-family: cursive,'Times New Roman', Times, serif;
    font-size: 2rem;
}

.header{
    text-align: center;
    padding:20px 0;
}


.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box{
    border:2px solid black;
    padding:30px;
}

